body {
  display: flex;
  background-color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}
section {
  background-color: rgb(234,240,245);
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
h2 {
  font-weight: 400;
}
h4 {
  margin-bottom: 15px;
  color: rgb(86,99,119);
  font-size: 13px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
li img {
  height: 15px;
  width: 15px;
  margin-right: 15px;
}
a {
  color: rgb(165,176,194);
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
}

/*ASIDE*/

aside {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: rgb(53,64,82);
}

/*FIRST ARTICLE*/

article:nth-of-type(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  height: 11vh;
  border-bottom: 2px solid rgb(45,56,74);
}
.profile-pic {
  margin-bottom: 15px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.name-dropdown {
  display: flex;
  margin-bottom: 20px;
}
aside article h2 {
  margin: 0 5px 0 15px;
  color: rgb(165,176,194);
  font-size: 17px;
}
.aside-down-arrow {
  height: 10px;
  width: 10px;
  padding-top: 5px;
}

/*SECOND ARTICLE*/

article:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  height: 18vh;
  padding: 20px 0 0 25px;
  border-bottom: 2px solid rgb(45,56,74);
}

/*THIRD ARTICLE*/

article:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  height: 18vh;
  padding: 20px 0 0 25px;
  border-bottom: 2px solid rgb(45,56,74);
}

/*FOURTH ARTICLE*/

article:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 25px;
}
input[type=checkbox] {
  margin-right: 15px;
}
label {
  color: rgb(165,176,194);
  font-size: 11px;
  font-weight: 700;
}

/*MAIN*/

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
}

/*HEADER*/

header {
  height: 19vh;
  width: 100%;
}

/*TOP NAV*/

.top-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 5vh;
  border: 1px solid rgb(0,0,0);
}
.top-nav div {
  height: 100%;
}
.top-nav img {
  height: 20px;
  width: 20px;
}
.hamburger-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  width: 5%;
}
.hamburger-container .burger-arrow {
  height: 10px;
  width: 10px;
}
.search-container {
  display: flex;
  align-items: center;
  width: 75%;
  padding-left: 20px;
  border-left: 1px solid rgb(0,0,0);
}
.top-nav input {
  width: 80%;
  padding-left: 10px;
  background: none;
  border: none;
  font-size: 18px;
}
.extra-search-features {
  display: flex;
  align-items: center;
  width: 20%;
}
.extra-search-features div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  border-left: 1px solid rgb(0,0,0);
}
.extra-search-features div:hover {
  background-color: rgb(19,164,250);
}
/*BOTTOM NAV*/

.bottom-nav {
  display: flex;
  flex-wrap: wrap;
  height: 14vh;
}

/*NAME TITLE*/

.name-title {
  display: flex;
  flex-wrap: wrap;
  height: 46%;
  padding: 30px 0 0 30px;
  width: 45%;
}
h1 {
  height: 20px;
  width: 100%;
  color: rgb(114,123,132);
  font-size: 28px;
}
.name-title img:nth-of-type(1) {
  height: 20px;
  margin-right: 5px;
  padding-bottom: 5px;
  width: 20px;
}
.name-title p {
  height: 20px;
  margin-right: 10px;
}
.name-title img:nth-of-type(2) {
  height: 7px;
  margin-right: 10px;
  padding-top: 5px;
  width: 7px;
}
.name-title a {
  height: 15px;
  padding-top: 3px;
  color: rgb(136,201,252);
  font-size: 12px;
}

/*EDIT*/

.edit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60%;
  padding-right: 50px;
  width: 50%;
  flex-grow: 2;
}
.edit button {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  border-radius: 50%;
}
.edit button:nth-of-type(1) {
  width: 120px;
  color: rgb(153,158,178);
  background: none;
  border-radius: 30px 30px;
  font-weight: 700;
}
.edit img {
  height: 15px;
  margin-right: 5px;
  width: 15px;
}
.edit button:nth-of-type(2) {
  background: none;
  background-image: url('assets/ribbon-from-a-book.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.edit button:nth-of-type(3) {
  background: none;
  background-image: url('assets/pencil-edit-button.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.edit button:nth-of-type(4) {
  background: none;
  background-image: url('assets/waste-bin.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

/*TABS*/

.tabs {
  height: 30%;
  padding-top: 10px;
  width: 90%;
}
.tabs ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  margin: 0;
  padding-left: 25px;
  width: 100%;
}
.tabs li {
  display: flex;
  justify-content: center;
  margin: 0 50px 0 0;
  padding-bottom: 10px;
  width: 7%;
  color: rgb(153,158,178);
  border-bottom: 2px solid transparent;
  font-size: 13px;
  font-weight: 700;
}
.tabs li:hover {
  border-bottom: 2px solid rgb(19,164,250);
  color: rgb(114,123,132);
}

/*PIE CONTAINER*/

.pie-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 22vh;
  width: 55%;
}
div.pie-charts {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*PIE 1*/

.pie-charts #pie1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  margin: 0 60px 40px 0;
  padding: 0;
  width: 150px;
  border: 10px solid;
  border-radius: 50%;
  border-color: #4EB8BF #d5d7e2 #4EB8BF #4EB8BF;
  border-width: 10px;
}
article#pie1 p:nth-of-type(1) {
  margin-bottom: 5px;
  color: #727b84;
  font-size: 40px;
  font-weight: 700;
}
article#pie1 p:nth-of-type(2) {
  color: #999eb2;
  font-size: 13px;
  font-weight: 700;
}

/*PIE 2*/

.pie-charts #pie2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  margin: 0 60px 40px 0;
  padding: 0;
  width: 150px;
  border: 10px solid;
  border-radius: 50%;
  border-color: #d5d7e2 #d5d7e2 #0fa0fc #0fa0fc;
  border-width: 10px;
}
article#pie2 p:nth-of-type(1) {
  margin-bottom: 5px;
  color: #727b84;
  font-size: 40px;
  font-weight: 700;
}
article#pie2 p:nth-of-type(2) {
  color: #999eb2;
  font-size: 13px;
  font-weight: 700;
}

/*PIE 3*/

.pie-charts #pie3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  margin: 0 60px 40px 0;
  padding: 0;
  width: 150px;
  border: 10px solid;
  border-radius: 50%;
  border-color: #d5d7e2 #d5d7e2 #aa61a9 #d5d7e2;
  border-width: 10px;
}
article#pie3 p:nth-of-type(1) {
  margin-bottom: 5px;
  color: #727b84;
  font-size: 40px;
  font-weight: 700;
}
article#pie3 p:nth-of-type(2) {
  color: #999eb2;
  font-size: 13px;
  font-weight: 700;
}

/*PIE CHART BUTTON*/

.pie-container button {
  height: 35px;
  margin-right: 70px;
  width: 30%;
  background-color: #FFFFFF;
  border: 2px solid #d5d7e2;
  border-radius: 20px 20px;
  color: #727b84;
  font size: 15px;
  font-family: inherit;
  font-weight: 700;
}
.pie-container img {
  height: 7px;
  margin: 0 5px 2px 5px;
  padding-top: 5px;
  width: 7px;
}

/*GRAPH CONTAINER*/

.graph-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 22vh;
  width: 45%;
}
.graph-container img {
  height: 180px;
  margin-bottom: 20px;
  width: 75%;
}
.graph-container button {
  height: 35px;
  margin-left: 170px;
  width: 25%;
  background-color: #FFFFFF;
  border: 2px solid #d5d7e2;
  border-radius: 20px 20px;
  color: #727b84;
  font size: 15px;
  font-family: inherit;
  font-weight: 700;
}

/*LINE BREAK*/

.line-break {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  width: 100%;
  background-color: rgb(237,242,246);
}
.border-line-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.1vh;
  width: 45%;
  background-color: rgb(142,144,144);
}
.border-line-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.1vh;
  width: 45%;
  background-color: rgb(142,144,144);
}
.line-break button {
  height: 20px;
  width: 20px;
  margin: 0 4px;
  background: none;
  background-image: url('assets/arrow-in-circle-point-to-up.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  border-width: 1px;
  border-radius: 50%;
}

/*TABLE CONTAINER*/

.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  width: 65%;
}
table {
  height: 80%;
  margin-bottom: 50px;
  width: 80%;
  background-color: #FFFFFF;
  border: 2px solid rgb(111,126,149);
  border-collapse: collapse;
}

/*TABLE HEADER*/

thead {
  height: 10%;
  width: 80%;
  background-color: rgb(111,126,149);
}
tr th {
  padding: 0 20px 0 20px;
}
th:nth-of-type(1) {
  height: 95px;
  width: 25%;
  text-align: left;
  color: #FFFFFF;
}
th:nth-of-type(2) {
  text-align: left;
}
thead button {
  height: 35px;
  width: 15%;
  background-color: rgb(95, 106, 136);
  border: none;
  color: #FFFFFF;
}
thead button:hover {
  background-color: #aa61a9;
}
thead button img {
  height: 15px;
  margin-right: 5px;
  width: 15px;
}

/*TABLE CELLS*/

td:nth-of-type(1) {
  height: 80px;
  padding-left: 20px;
  color: #727b84;
  font-size: 15px;
  font-weight: 700;
}
td:nth-of-type(2) {
  padding-right: 20px;
  color: #727b84;
  font-size: 15px;
}
.description-title {
  padding-top: 5px;
  vertical-align: top;
}
.description {
  line-height: 25px;
}
.money {
  font-weight: 700;
}

/*BOTTOM MEDIA CONTAINER*/

.media-container {
  display: flex;
  flex-direction: column;
  height: 56vh;
  width: 35%;
}
.media-container-btn {
  width: 70%;
}
/*MEDIA CONTAINER BUTTONS*/

.media-container button {
  display: flex;
  margin-top: 25px;
  padding: 15px 25px;
  width: 100%;
  border: none;
  border-radius: 5px 5px;
  color: #FFFFFF;
  font-size: 16px;
}
.media-container-logo {
  height: 20px;
  margin-right: 25%;
  width: 20px;
}
.media-container-btn button:nth-of-type(1) {
  background-color: rgb(74,110,194);
}
.media-container-btn button:nth-of-type(2) {
  background-color: rgb(1,168,239);
}
.media-container-btn button:nth-of-type(3) {
  margin-bottom: 35px;
  background-color: rgb(3,127,187);
}

/*MEDIA CONTAINER 1,2,3*/

.media-container-1,
.media-container-2,
.media-container-3 {
  width: 70%;
  margin-bottom: 25px;
  border-bottom: 2px solid rgba(120, 130, 140, 0.3);
}
.media-container-3 {
  margin-bottom: 0;
  border: none;
}
h5 {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #727b84;
  font-size: 20px;
}
.media-container-1 img,
.media-container-2 img,
.media-container-3 img {
  height: 20px;
  margin-right: 15px;
  width: 20px;
}

.media-container-1 p,
.media-container-2 p,
.media-container-3 p {
  margin-bottom: 15px;
  color: #727b84;
  font-size: 12px;
  line-height: 20px;
}
.media-container-1 input,
.media-container-2 input,
.media-container-3 input {
  display: inline-block;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 0 0 20px;
  width: 70%;
  border: 1px solid #727b84;
  border-right: none;
  color: #727b84;
  font-size: 12px;
  text-overflow: ellipsis;
}
.media-container-3 input {
  width: 92%;
  border-right: 1px solid #727b84;
}
.media-container-1 button,
.media-container-2 button,
.media-container-3 button {
  display: inline;
  height: 53px;
  margin: 0;
  padding: 0;
  width: 23%;
  background-color: rgb(75,187,193);
  text-align: center;
}
.media-container-1 div,
.media-container-2 div,
.media-container-3 div {
  display: flex;
}
